<a href="https://colab.research.google.com/github/shahpranshu27/HandsOn_ML/blob/main/PandasTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

### Series

In [2]:
country = ['India', 'USA', 'France', 'Spain']

pd.Series(country)

0     India
1       USA
2    France
3     Spain
dtype: object

In [3]:
marks = [20,21,22,25]
subject = ['CD', 'ML', 'Python', 'CN']

pd.Series(marks, index=subject)

CD        20
ML        21
Python    22
CN        25
dtype: int64

In [4]:
marks = {
    'CD': 20,
    'ML': 21,
    'Python': 22,
    'CN': 25
}

pd.Series(marks)

CD        20
ML        21
Python    22
CN        25
dtype: int64

In [5]:
# /content/drive/MyDrive/Colab Notebooks/italy-covid-daywise.csv

In [6]:
covid_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/italy-covid-daywise.csv')

In [7]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [8]:
type(covid_df)

pandas.core.frame.DataFrame

In [9]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [10]:
total_cases = covid_df.new_cases.sum()
total_cases

271515.0

In [11]:
total_deaths = covid_df.new_deaths.sum()
total_deaths

35497.0

In [12]:
death_rate = total_deaths/total_cases
death_rate

0.13073679170579894

In [13]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()
total_tests

5214766.0

In [14]:
positive_rate = total_cases/total_tests
positive_rate

0.05206657403227681

In [15]:
high_cases_df = covid_df[covid_df.new_cases > 1000]
high_cases_df

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]