<a href="https://colab.research.google.com/github/shahpranshu27/HandsOn_ML/blob/main/PandasTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

### Series

In [2]:
country = ['India', 'USA', 'France', 'Spain']

pd.Series(country)

0     India
1       USA
2    France
3     Spain
dtype: object

In [3]:
marks = [20,21,22,25]
subject = ['CD', 'ML', 'Python', 'CN']

pd.Series(marks, index=subject)

CD        20
ML        21
Python    22
CN        25
dtype: int64

In [4]:
marks = {
    'CD': 20,
    'ML': 21,
    'Python': 22,
    'CN': 25
}

pd.Series(marks)

CD        20
ML        21
Python    22
CN        25
dtype: int64